.navbar {
	
	position: fixed;
	min-height: 50px;
	margin-bottom: 0;
	width: 100%;
	border: 1px solid transparent;
}

#mainslider {
	padding-top: 50px;
}

.top {
  position: fixed;
  bottom: 0;
  right: 15px;
  background: #ffffff;
  padding: 0.5em 0.75em 0;

}